@model AerialDistance.Model.ApplicationDetailsNewModel
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>


<div id="divApplicationDetailsNew">
    <form asp-action="ApplicationDetails" asp-controller="ApplicationDetailsNew" method="post">
        <h6 style="text-align:center">Applicant Details</h6>
</form>
</div>
